<% include ../partials/header %>

<a href="/">Go Back</a>


<h1><i class="fa fa-user"></i> User: 	<a href="/user/<%= user.properties.username %>"><%= user.properties.username %></a></h1>
<h2><i class="fa fa-map-marker"></i> Full Name: <%= user.properties.name %></h2>
<h2><i class="fa fa-map-marker"></i> ID: <%= user.properties.id %></h2>
<h2><i class="fa fa-map-marker"></i> Labels (roles): <%= user.labels %></h2>
<h2><i class="fa fa-map-marker"></i> Birthplace: <%= user.properties.birthplace %></h2>
<h2><i class="fa fa-map-marker"></i> Current city: <%= user.properties.location %></h2>
<h2><i class="fa fa-map-marker"></i> Gender: <%= user.properties.gender %></h2>
<h2><i class="fa fa-map-marker"></i> Auth method: <%= user.properties.authmethod %></h2>
<h2><i class="fa fa-map-marker"></i> Facebook ID: <%= user.properties.facebookId %></h2>
<h2><i class="fa fa-map-marker"></i> Facebook Token: <%= user.properties.facebookToken %></h2>
<h2><i class="fa fa-map-marker"></i> Facebook Email: <%= user.properties.facebookEmail %></h2>
<h2><i class="fa fa-map-marker"></i> Facebook Name: <%= user.properties.facebookName %></h2>

<h2><i class="fa fa-map-marker"></i> Relationships: <%-JSON.stringify(relationships) %></h2>



<% include ../partials/footer %>
