extends layout

block content
  - var fields = {Artist: ['id', 'name', 'email', 'location', 'age', 'gender', 'description', 'verified'], Group: ['id', 'name', 'type', 'raison', 'description', 'verified'],  Project: ['id', 'name', 'type', 'genre', 'description', 'verified'], Venue: ['id', 'name', 'type', 'address', 'description', 'verified']}
  
  .container
    h1.title #{title} #{fieldList}
    .section
      h3.title.is-3 Node - #{nodes[0].name} 
      h4.title.is-4 Labels - (add icons) #{labels}
    .section
      h4.title.is-4 Current connections
      .content
        include shownoderels.pug
        .notification.is-warning
          p This won't work as planned b/c shownoderels is just a template not a component. fix context for call to router -- Look into vue components
    .section
      h4.title.is-4 Edit properties
      form(action="/save", method="post")
        if fields
          each i in fields[labels]
              div.form-group.row
                  label.col-xs-2.col-form-label #{i}:
                  div.col-xs-10
                      if (nodes.length > 0)
                          input.form-control(type='text', name=i + '_value', size=50, value=nodes[0])
                      else
                          input.form-control(type="text", name=field + '_value', size=50, value="default value")
        input.btn.btn-primary.pull-right(type="submit", value="Submit")
        a.btn.btn-default(href='/' ) Cancel
        br
